<div class="dashboard-container">
  <h1>Mis Aplicaciones</h1>

  <div class="card-grid">
    <mat-card class="card" *ngFor="let item of funcionalidades">
      
      <button mat-icon-button class="fav-button" (click)="toggleFavorito(item)">
        <mat-icon [ngClass]="{'favorito': item.favorito}">
          {{ item.favorito ? 'star' : 'star_border' }}
        </mat-icon>
      </button>

      <div class="card-icon" [ngStyle]="{'color': item.color}">
        <mat-icon>{{ item.icon }}</mat-icon>
      </div>

      <div class="card-title">
        {{ item.title }}
      </div>

      <div class="card-actions">
        <button mat-flat-button color="primary">Ingresar</button>
      </div>
    </mat-card>
  </div>
</div>
