<div class="homepage">

  <section class="fullscreen-section scripts ">
    <div class="content">
      <h1>Bienvenido</h1>
      <p>Scrips útiles</p>
      <button mat-raised-button color="primary" routerLink="/scripts">
        Explorar Scripts<mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </section>

  <section class="fullscreen-section school">
    <div class="content">
      <h2>School</h2>
      <p>Trabajos ecolares</p>
      <button mat-raised-button color="accent" routerLink="/school">
        Ver Trabajos Escolares<mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </section>

  <section class="fullscreen-section projects">
    <div class="content">
      <h2>Projects</h2>
      <p>Proyectos personales, incluyendo esta aplicación web</p>
      <button mat-raised-button color="primary" routerLink="/projects">
        Explorar Proyectos<mat-icon>send</mat-icon>
      </button>
    </div>
  </section>

</div>
