body{
	background-color:#1D382B;
}
h1{
	color:#72E075;
	padding-left: 25px;
	padding-right: 25px;
}
h2{
	color:#72E075;
	background-color:#1D381D;
	padding-left: 40px;
	padding-right: 40px;
}
h3{
	color:#72E075;
	padding-left: 55px;
	padding-right: 55px;
}
h4{
	color:#72E075;
	padding-left: 70px;
	padding-right: 70px;
}
h5{
	color:#72E075;
	padding-left: 85px;
	padding-right: 85px;
}
h6{
	color:#72E075;
	padding-left: 100px;
	padding-right: 100px;
}
p{
	color:#72E0AC;
	padding-left: 115px;
	padding-right: 115px;
}
pre{
	font-size: 14px;
	color:#72E0AC;
	border-spacing: 20px;
	white-space: 20px;
	word-spacing: 20px;
}
img {
	border-color: #e3adaa;
	padding-left: 115px;
	padding-right: 115px;
}
a{
	color:#72E075;
	padding-left: 115px;
	padding-right: 115px;
}
hr{
	display: block;
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: auto;
	margin-right: auto;
	border: 8px solid #1D381D;
	padding-right: 0px;
	height:2px;
}
table{
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: #1D381D;
	padding-left: 115px;
	color:#72E075;
}
header{
	color: #a6e072;
	background-color: #2a381d;
}
footer{
	color: #a6e072;
	background-color: #2a381d;
}