// COLOR PALETTE
// Ultraviolet default theme

// $primary-color:     #a259d9;
// $accent-color:      #c299e5;

// $background-color:  #1a1527;
// $background-alt:    #241b34;

// $text-primary:      #e4def2;
// $text-secondary:    #b7abc8;

.theme-ultraviolet-default {
  --primary-color: #a259d9;
  --accent-color: #c299e5;
  --background-color: #1a1527;
  --background-alt: #241b34;
  --text-primary: #e4def2;
  --text-secondary: #b7abc8;
}
