<nav class="navbar">
    <ul class="nav-list">

        <li class="nav-item">
            <a (click)="navigateToHome()">
                <mat-icon class="mat-icon-rtl-mirror" fontIcon="home"></mat-icon>
                <span >Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a (click)="navigateToScripts()">
                <mat-icon class="mat-icon-rtl-mirror" fontIcon="code"></mat-icon>
                <span >Scripts</span>
            </a>
        </li>
        <li class="nav-item">
            <a (click)="navigateToSchool()">
                <mat-icon class="mat-icon-rtl-mirror" fontIcon="school"></mat-icon>
                <span >School</span>
            </a>
        </li>
        <li class="nav-item">
            <a (click)="navigateToProjects()">
                <mat-icon class="mat-icon-rtl-mirror" fontIcon="folder"></mat-icon>
                <span >Projects</span>
            </a>
        </li>
    </ul>
  </nav>
  

