<nav class="navbar">
    <ul class="nav-list">

        <li class="nav-item">
            <a (click)="navigateToHome()">
                <mat-icon class="mat-icon-rtl-mirror" fontIcon="home"></mat-icon>
                <span >Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a (click)="navigateToScripts()">
                <mat-icon class="mat-icon-rtl-mirror" fontIcon="code"></mat-icon>
                <span >Scripts</span>
            </a>
        </li>
        <li class="nav-item">
            <a (click)="navigateToSchool()">
                <mat-icon class="mat-icon-rtl-mirror" fontIcon="school"></mat-icon>
                <span >School</span>
            </a>
        </li>
        <li class="nav-item">
            <a (click)="navigateToProjects()">
                <mat-icon class="mat-icon-rtl-mirror" fontIcon="folder"></mat-icon>
                <span >Projects</span>
            </a>
        </li>
        <li class="nav-item">
            <mat-button-toggle-group
                name="themeOptions"
                aria-label="Opciones de temas"
                (change)="setTheme($event.value)"
                appearance="legacy"
                class="theme-toggle-group"
            >
                <mat-button-toggle value="theme-ultraviolet-default">Ultraviolet Default</mat-button-toggle>
                <mat-button-toggle value="theme-ultraviolet-vibrant">Ultraviolet Vibrant</mat-button-toggle>
            </mat-button-toggle-group>
        </li>

    </ul>
  </nav>
  

