.guide {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: --primary-color;
  font-weight: 500;
  transition: color 0.2s ease, transform 0.2s ease;
}

.navbar {
  background-color: --primary-color;
  padding: 0.5rem 1rem;
  border: 2px solid --primary-color;
  border-bottom-width: 1px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 1px;
  padding: 1px;
  align-items: center;
}

.nav-item {
  a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: --primary-color;
    font-weight: 500;
    transition: color 0.2s ease, transform 0.2s ease;

    &:hover {
      color: --primary-color;
      transform: scale(1.15);
      cursor: pointer;
    }
  }

  button {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: --primary-color;
    background-color: --primary-color;
    font-weight: 500;
    transition: color 0.2s ease, transform 0.2s ease;

    &:hover {
      color: --primary-color;
      background-color: --primary-color;
      transform: scale(1.15);
      cursor: pointer;
    }
  }
}

.material-symbols-outlined {
  font-size: 24px;
}

@media (max-width: 600px) {
  .nav-list {
    flex-direction: column;
    align-items: flex-start;
  }
}

.theme-buttons {
  display: flex;
  gap: 1rem;
}

.theme-toggle-group {
  display: flex;
  gap: 0.5rem;

  mat-button-toggle {
    color: var(--text-primary);
    background: var(--background-alt);
    border: 1px solid var(--primary-color);

    &.mat-button-toggle-checked {
      background: var(--primary-color);
      color: #fff;
    }
  }
}
